[Desktop Entry]
Name=Open Default Apps
Exec=/home/[YOUR USERNAME]/open-default-apps.sh
Type=Application
Comment[en_US]=Abre meus programas padrões
Comment=Abre meus programas padrões
